@inherits LayoutComponentBase

<PageTitle>Gifts for Meditation</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://twitter.com/lettucemode" target="_blank">@@lettucemode</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
