@page "/about"

<PageTitle>About</PageTitle>

<h3>About</h3>
<h5>
    This site is a small tool to support meditative practices.
    Use the main page to generate a gift or two, then spend a few minutes meditating
    on how that you have received that gift in your life, or what it means to you. 
    Can be done indivdually or with a group for discussion.
</h5>