@page "/"
@using giftsformeditation.Data
@inject GiftsService GiftsService

<PageTitle>Gifts for Meditation</PageTitle>

<h3>Gifts</h3>
<h5>Click/tap the button to receive your gifts.</h5>

<div class="container">
    <div class="form-group mb-4">
        <div class="input-group">
            <span class="input-group-text">#</span>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        @foreach (var index in Enumerable.Range(1, 4)) {
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio@(index)" autocomplete="off" checked="@(index == numGifts)"/>
                            <label class="btn btn-outline-primary" for="btnradio@(index)" @onclick="() => SetNumGifts(index)">@index</label>
                        }
                    </div>
                </div>
                <button class="btn btn-primary"  @onclick="GetGifts">Get Gifts</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                @foreach (var gift in GiftsList) {
                    <li>@gift.ToString()</li>
                }
            </ul>
        </div>
    </div>
</div>

@code {
    private const int DEFAULT_GIFT_NUM = 2;
    private string[] GiftsList = new string[0];
    private int numGifts = DEFAULT_GIFT_NUM;

    private void GetGifts() {
        GiftsList = GiftsService.GetGiftsAsync(numGifts).Result;
    }

    private void SetNumGifts(int num) {
        numGifts = num;
    }
}
